<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.data.dao.SchoolMapper">
  <resultMap id="BaseResultMap" type="com.recruit.data.pojo.School">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="place" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="properties" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, place, type, properties
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary_school
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>