<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-Awesome -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Sign in & Sign up CSS -->
    <link rel="stylesheet" href="../../../styles/sign.css" type="text/css">
    <title>请注册</title>

</head>
<body class="text-center">
    <div class="container">
        <form class="form-signup">
            <i class="fa fa-trademark fa-5x mb-4"></i>
            <h1 class="h3 font-weight-normal mb-3 text-left">欢迎注册XX站点</h1>
            <label for="inputUsername" class="sr-only">用户名</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="手机号/邮箱" required autofocus>
            <label for="inputPwd" class="sr-only">密码</label>
            <input type="password" id="inputPwd" class="form-control" placeholder="密码" required>
            <!--如何将3条输入框并在一起而又不会影响登录界面2条输入框-->
            <!--目前将注册和登录界面样式分开-->
            <label for="inputConfirmPwd" class="sr-only">确认密码</label>
            <input type="password" id="inputConfirmPwd" class="form-control" placeholder="确认密码" required>
            <!--<div class="row check-box mb-3 px-2">-->
            <!--<div class="col-6 text-left">-->
            <!--<input type="checkbox" id="rememberAccount" value="remember">-->
            <!--<label for="rememberAccount">记住我</label>-->
            <!--</div>-->
            <!--<div class="col-6 text-right">-->
            <!--<a href="#" class="forgetPwd">忘记密码？</a>-->
            <!--</div>-->
            <!--</div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            <!--注册后跳转到个人详情完善界面，公司员工注册页还需要另外加，或者在注册界面加一个单选框-->
            <p class="agreement mt-2">注册代表你同意<a href="#">《XX用户协议》</a></p>
            <p class="mt-3 mb-3 text-muted">© XX技术有限公司 1996-2018</p>
        </form>
        <div class="divider"></div>
        <div class="signup-right">
            <h5>已有账号:</h5>
            <a href="#" class="login_now">直接登录 <i class="fa fa-arrow-circle-o-right"></i></a>
            <h5>使用以下帐号直接登录:</h5>
            <a href="weibo" class="h4 weibo px-3" target="_blank"><i class="fa fa-weibo"></i></a>
            <a href="weixin" class="h4 wechat px-3"><i class="fa fa-weixin"></i></a>
            <a href="qq" class="h4 qq px-3" target="_blank"><i class="fa fa-qq"></i></a>
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>