<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapping.areaMapper">
    <!-- 映射关系 -->
    <resultMap id="areaResult" type="Area">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="province_id" column="province_id"/>
        <result property="city_id" column="city_id"/>
    </resultMap>

    <select id="getArea" parameterType="int" resultMap="areaResult">
        SELECT * FROM dictionary_area WHERE id=#{id}
    </select>
</mapper>