<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapping.resumeLanguageMapper">
    <!-- 映射关系 -->
    <resultMap id="resumeLanguageResult" type="ResumeLanguage">
        <id property="id" column="id"/>
        <result property="resumeId" column="resume_id"/>
        <result property="name" column="name"/>
        <result property="oralLevel" column="oral_level"/>
        <result property="writeLevel" column="write_level"/>
        <result property="readLevel" column="read_level"/>
        <result property="testName" column="test_name"/>
        <result property="testGrade" column="test_grade"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getLanguageByResumeId" parameterType="int" resultMap="resumeLanguageResult">
        SELECT * FROM resume_language WHERE resume_id=#{resumeId}
    </select>
</mapper>