<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapping.resumeWorkMapper">
    <!-- 映射关系 -->
    <resultMap id="resumeWorkResult" type="ResumeWork">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="department" column="department"/>
        <result property="position" column="position"/>
        <result property="responsibility" column="responsibility"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getWorkByResumeId" parameterType="int" resultMap="resumeWorkResult">
        SELECT * FROM resume_work WHERE resume_id=#{resumeId}
    </select>
</mapper>