<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapping.resumeEducationMapper">
    <!-- 映射关系 -->
    <resultMap id="resumeEducationResult" type="ResumeEducation">
        <id property="id" column="id"/>
        <result property="resumeId" column="resume_id"/>
        <result property="name" column="name"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
        <result property="department" column="department"/>
        <result property="major" column="major"/>
        <result property="level" column="level"/>
        <result property="ranking" column="ranking"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getEducationByResumeId" parameterType="int" resultMap="resumeEducationResult">
        SELECT * FROM resume_education WHERE resume_id=#{resumeId}
    </select>
</mapper>