<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

    <title>我的简历-XX招聘</title>
    <style>
        .fa-user-circle {
            color: #9c9c9c;
        }
    </style>
</head>
<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg narbar-light bg-light border-bottom mb-5 px-lg-5" role="navigation">
        <a class="navbar-brand" href="#">企业人才招聘系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> 首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">社会招聘</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        校园招聘
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">应届生</a>
                        <a class="dropdown-item" href="#">实习生</a>
                        <a class="dropdown-item" href="#">留学生</a>
                        <div class="dropdown-divider">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <a class="nav-link" href="#">登录/注册</a>
            <a class="nav-link" href="#">区域选择</a>
        </div>
    </nav>

    <!-- Content -->

    <div class="container">
        <div class="row">
            <div class="col-8 mr_myResume_1" style="background-color: #fafafa">
                <div class="mr-top-bg text-center py-5">
                    <div class="rounded-circle mx-auto" style="border: 5px solid #515151; overflow: hidden; width: 122px; height: 122px;">
                        <i class="fas fa-user-circle fa-7x"></i>
                        <img src="..." alt="头像" class="d-none mx-auto mb-3" width="112" height="112">
                        <i class="fas fa-camera fa-3x d-none" style="position: absolute;"></i>
                    </div>
                </div>
                <h3 class="mb-2" id="user-name">张三</h3>
                <form id="nameForm" novalidate="novalidate">

                </form>
                <div class="mr_myResume_1">
                </div>
            </div>
            <div class="col-4 mr_myResume_r">
                <div class="mr_bar">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fas fa-archive fa-2x"></i>
                                <p>投递箱</p>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fas fa-envelope fa-2x"></i>
                                <p>邀请函</p>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fas fa-star fa-2x"></i>
                                <p>收藏夹</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mr_upload">
                    <button type="button" class="close d-none" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="mr_up_main">
                        <i class="far fa-file fa-2x"></i>
                        <a href="#">上传简历.pdf</a>
                    </div>
                    <form class="mr_set_default">
                        <select class="form-control" id="default_resume">
                            <option>默认投递：在线简历</option>
                            <option>默认投递：附件简历</option>
                        </select>
                    </form>
                </div>
                <div class="scroll-fix">
                    <span class="text-muted">简历完整度</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>