<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
          integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../styles/resume.css" type="text/css">

    <title>我的简历-XX招聘</title>

</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg narbar-light bg-light border-bottom mb-5 px-lg-5" role="navigation">
    <a class="navbar-brand" href="#">企业人才招聘系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> 首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于我们</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">社会招聘</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    校园招聘
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">应届生</a>
                    <a class="dropdown-item" href="#">实习生</a>
                    <a class="dropdown-item" href="#">留学生</a>
                    <div class="dropdown-divider">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <a class="nav-link" href="#">登录/注册</a>
        <a class="nav-link" href="#">区域选择</a>
    </div>
</nav>

<!-- Content -->

<div class="container">
    <div class="row">
        <div class="col-8 mr_myResume_1 r-bg">
            <div class="mr-top-bg text-center py-5">
                <div class="rounded-circle mx-auto"
                     style="border: 5px solid #515151; overflow: hidden; width: 122px; height: 122px;">
                    <i class="fas fa-user-circle fa-7x"></i>
                    <!--<img src="..." alt="头像" class="d-none mx-auto mb-3" width="112" height="112">-->
                    <!--<i class="fas fa-camera fa-3x d-none" style="position: absolute;"></i>-->
                </div>
            </div>
            <div data-spy="scroll" data-target="#mr-module" data-offset="0" class="resume-content px-4">
                <div id="baseInfo" class="text-center">
                    <span class="h3" class="mb-3 user-name">张三</span>
                    <div class="mr-p-info">
                        <div class="info-t">
                            <span class="school">
                                <em class="mr-2">软件工程</em>
                                <em class="mr-2">·</em>
                                <em class="mr-2">杭州电子科技大学</em>
                            </span>
                        </div>
                        <div class="info-j">
                            <span class="person-info">
                                <em class="mr-2 sex">男</em>
                                <em class="mr-2 age">21岁</em>
                                <em class="mr-2 ">本科</em>
                                <em class="mr-2 ">应届毕业生</em>
                                <em class="mr-2 ">杭州</em>
                            </span>
                        </div>
                        <div class="info-b">
                            <span class="mobile">
                                <em class="mr-2">17826837546</em>
                            </span>
                            <span class="email">
                                <em class="mr-2">294036494@qq.com</em>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="preferredJob">
                    <h3 class="mb-2">
                        求职意向
                        <button class="btn btn-link">编辑</button>
                    </h3>
                    <form class="preferedJobFrom p-3">
                        <div class="row mb-2 px-4">
                            <div class="col-6">
                                <select class="form-control">
                                    <option>web前端开发及相关工作</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="form-control">
                                    <option>全职</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="form-control">
                                    <option>杭州</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2 px-4">
                            <div class="col-6">
                                <select class="form-control">
                                    <option>6k</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-control">
                                    <option>8k</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2 px-4">
                            <div class="col-6">
                                <select class="form-control">
                                    <option>积极找工作</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-control">
                                    <option>随时</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">保存</button>
                        <button class="btn btn-link">取消</button>
                    </form>
                    <ul class="list-inline row">
                        <li class="list-inline-item col-4 ml-3">
                            <span>web前端开发及相关工作</span>
                        </li>
                        <li class="list-inline-item col-2 ml-3">
                            <span>全职</span>
                        </li>
                        <li class="list-inline-item col-2 ml-3">
                            <span>杭州</span>
                        </li>
                        <li class="list-inline-item col-2">
                            <span>6-8k</span>
                        </li>
                        <li class="list-inline-item col-4 ml-3">
                            <span>积极找工作</span>
                            <span>/随时</span>
                        </li>
                    </ul>
                </div>
                <div id="workExperience">
                    <h3 class="mb-2">工作经历</h3>
                    <button class="btn btn-link">添加</button>
                    <form class="workExperienceForm">
                        <div class="form-group">
                            <label for="companyName">公司</label>
                            <input type="text" class="form-control" id="companyName" placeholder="公司名称">
                        </div>
                        <div class="form-group">
                            <label for="positionName">职位</label>
                            <input type="text" class="form-control" id="positionName" placeholder="职位名称">
                        </div>
                        <div class="form-group">
                            <label>在职时间</label>
                            <div class="row">
                                <div class="col">
                                    <input type="date" class="form-control" id="startDate" placeholder="起始时间">
                                </div>
                                <div class="col">
                                    <input type="date" class="form-control" id="endDate" placeholder="截止时间">
                                </div>
                            </div>
                        </div>
                        <label>工作内容</label>
                        <div class="workResponsibility">
                            <textarea cols="80" rows="5"  class=" form-control" id="workResp"></textarea>
                        </div>
                    </form>
                    <div class="show-list">
                        <div class="mr_content_l mr-auto">
                            <h4>公司名称</h4>
                            <span>职位名称</span>
                        </div>
                        <div class="mr_content_r">
                            <div>
                                <button class="btn btn-link">编辑</button>
                            </div>
                            <span>开始时间</span>
                            <span> - </span>
                            <span>截止时间</span>
                        </div>
                        <div class="mr_content_b">工作职责</div>
                    </div>
                </div>
                <div id="educationExperience">
                    <h3 class="mb-2">教育经历</h3>
                </div>
                <div id="projectExperience">
                    <h3 class="mb-2">项目经验</h3>
                </div>
                <div id="awardInfo">
                    <h3 class="mb-2">获奖情况</h3>
                </div>
                <div id="skillAccess">
                    <h3 class="mb-2">技能评估</h3>
                </div>
                <div id="language">
                    <h3 class="mb-2">语言能力</h3>
                </div>
                <div id="certificate">
                    <h3 class="mb-2">资格证书</h3>
                </div>
                <div id="identity">
                    <h3 class="mb-2">身份证明</h3>
                </div>
                <div id="otherInfo">
                    <h3 class="mb-2">自定义信息</h3>
                </div>
            </div>
        </div>
        <div class="col-4 pl-5 mr_myResume_r">
            <div class="mr_bar">
                <ul class="list-inline text-center">
                    <li class="list-inline-item p-2 pr r-bg rb-s">
                        <span class="badge badge-primary ml-1 pa-rt">5</span>
                        <a href="#">
                            <i class="fas fa-archive fa-2x"></i>
                            <p class="mb-0">投递箱</p>
                        </a>
                    </li>
                    <li class="list-inline-item p-2 r-bg rb-s">
                        <a href="#">
                            <i class="fas fa-envelope fa-2x"></i>
                            <p class="mb-0">邀请函</p>
                        </a>
                    </li>
                    <li class="list-inline-item p-2 r-bg rb-s">
                        <a href="#">
                            <i class="fas fa-star fa-2x"></i>
                            <p class="mb-0">收藏夹</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mr_upload p-3 mb-3 r-bg rb-s">
                <button type="button" class="close d-none" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="mr_up_main">
                    <i class="far fa-file fa-2x"></i>
                    <a href="#">上传简历.pdf</a>
                </div>
                <form class="mr_set_default">
                    <select class="form-control" id="default_resume">
                        <option>默认投递：在线简历</option>
                        <option>默认投递：附件简历</option>
                    </select>
                </form>
            </div>
            <div id="scroll-fix">
                <div class="mr-integrity p-3  mb-3 r-bg rb-s">
                    <h5 class="text-muted">简历完整度</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">25%
                        </div>
                    </div>
                </div>
                <div id="mr-module" class="list-group p-3  mb-3 r-bg rb-s">
                    <a class="list-group-item list-group-item-action" href="#baseInfo">基本信息</a>
                    <a class="list-group-item list-group-item-action" href="#preferredJob">求职意向</a>
                    <a class="list-group-item list-group-item-action" href="#workExperience">工作经历</a>
                    <a class="list-group-item list-group-item-action" href="#educationExperience">教育经历</a>
                    <a class="list-group-item list-group-item-action" href="#projectExperience">项目经验</a>
                    <a class="list-group-item list-group-item-action" href="#awardInfo">获奖情况</a>
                    <a class="list-group-item list-group-item-action" href="#skillAccess">技能评估</a>
                    <a class="list-group-item list-group-item-action" href="#language">语言能力</a>
                    <a class="list-group-item list-group-item-action" href="#certificate">资格证书</a>
                    <a class="list-group-item list-group-item-action" href="#identity">身份证明</a>
                    <a class="list-group-item list-group-item-action" href="#otherInfo">自定义信息</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>